[submodule "backend"]
	path = qs-backend
	url = https://github.com/marcomartinscastanho/quiz-stats-backend
[submodule "frontend"]
	path = qs-frontend
	url = https://github.com/marcomartinscastanho/quiz-stats-frontend
